<head>
    <title>
        {{ page.title }}
        |
        {{ site.title }}
    </title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/images/vectorfavicon.ico" rel="icon" type="image/x-icon">
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/extra.css" rel="stylesheet">
    <link href="/assets/css/back.to.top.css" rel="stylesheet">
    <link href="/assets/css/prism.css" rel="stylesheet">
    {% comment %} collect site tags if not defined {% endcomment %}
    {% if site.tags != "" %}
        {% include collect-tags.html %}
    {% endif %}
</head>
<a href="#" id="scroll" style="display: none;">
    <span></span>
</a>
